<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.colockumhillsidefarmapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ColockumHillsideFarmApp">
        <activity
            android:name=".ProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.vendor.UpdateAboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.vendor.UpdateStoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.vendor.AnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.vendor.VendorChoiceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.about_us.PoultryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.about_us.PorkActivity"
            android:exported="false" />
        <activity
            android:name=".ui.contact_us.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.about_us.VegetableActivity"
            android:exported="false" />
        <activity
            android:name=".ui.about_us.VegtablePracticesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.contact_us.FarmInfo"
            android:exported="false" />
        <activity
            android:name=".ui.about_us.ChickenPracticesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ColockumHillsideFarmApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>